{% comment %}
Gift Guid - Banner (Custom) | Step 1 : scaffold only
This section will host the hero (banner) for the figma design.
No css and js yet – they will be added in the next step.
{% endcomment %}


<!--how to link css file by html file-->
{{ 'gift-guide.css' | asset_url | stylesheet_tag }}

<head>
  {{ content_for_header }}
  <!--  Jost font link -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<section id="gift-hero-{{ section.id }}" class="gift-hero" role="banner" aria-label="Gift Guid hero banner">
  <div class="gift-top-bar">
    <div >
            <img class="gift-icon--tisso"
           src="{{ 'tisso.svg' | asset_url }}"
           alt=""
           aria-hidden="true"
           width="16" height="16" loading="lazy">     
    </div>
    <div class="gift-top-bar_message">
      Find the ideal gift for your loved ones.
    </div>

    <button class="gift-button gift-button--highlight" id="gift-topbar-cta" type="button">
      <span>CHOOSE GIFT</span>
      <img class="gift-icon gift-icon--arrow"
           src="{{ 'Arrow.svg' | asset_url }}"
           alt=""
           aria-hidden="true"
           width="10" height="10" loading="lazy">
    </button>
</div>

<div class = "firstframe">
  <img class="imageinframe" src ="{{ 'Frame.svg' | asset_url }}" alt = "" width="10" height="10">
</div>
<!--second image for first section-->
<div class = "secondframe">
  <div>
    <h1> Hi </h1>
  </div>

  <div>
  <img class="seconimageinframe" src ="{{ 'Frame.svg' | asset_url }}" alt = "" width="10" height="10">
  </div>
</div>

</section>

{% schema %}
{
  "name": "Gift Guide Top Bar",
  "settings": [],
  "presets": [
    { "name": "Gift Guide Top Bar" }
  ]
}
{% endschema %}
