
{{ 'gift-guid-section2.css' | asset_url | stylesheet_tag }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lustria&display=swap" rel="stylesheet">
<section class="part-two">
  <div class ="parentofimages">
    <div>
      <span class="spantisso">Tisso vison in the wild</span>
      </div>
 <div class="grid-container">
    <div class="grid-item">
      <img src="{{ 'image 822.svg' | asset_url }}" alt="لازم تكتبها" width="10" height="10">
            <span class="plus-icon">+</span>

    </div>
    <div class="grid-item">
      <img src="{{ 'image 823.svg' | asset_url }}" alt="لازم تكتبها "width="10" height="10">
            <span class="plus-icon">+</span>

    </div>
    <div class="grid-item">
      <img src="{{ 'image 824.svg' | asset_url }}" alt="لازم تكتبها"width="10" height="10">
            <span class="plus-icon">+</span>

    </div>
    <div class="grid-item">
      <img src="{{ 'image 825.svg' | asset_url }}" alt="لازم تكتبها"width="10" height="10">
            <span class="plus-icon">+</span>

    </div>
    <div class="grid-item ">
      <img src="{{ 'image 825.svg' | asset_url }}" alt="لازم تكتبها"width="10" height="10">
            <span class="plus-icon">+</span>

    </div>
    <div class="grid-item">
      <img src="{{ 'image 826.svg' | asset_url }}" alt="لازم تكتبها"width="10" height="10">
        <span class="plus-icon">+</span>
    </div>
</div>
</div>
</section>


{% schema %}
{
  "name": "section2",
  "settings": [],
  "presets": [
    { "name": "section2" }
  ]
}
{% endschema %}